In [1]:
import pandas as pd  
import requests

### Problem-1:

You are given a SQL file link: https://drive.google.com/file/d/1WFt7B84LTHhMueoKmz8W-PRo7xXqmZf3/view?usp=share_link. Read the data by using the file and store it in a excel file. In this data, there are 3 tables named "invoices", "order_leads" and "sales_sql". So create 3 sheets to your excel file.

`NOTE : ` Here we need to install mysql.connector library, that makes a connection between python and mysql. We can also called it as bridge between python and mysql.

In [10]:
# mysql.connector.Connect(host = 'Server(where database is stored)', user = 'root', password = 'empty here', database = 'db name')
mysql_connector = mysql.connector.Connect(host = 'localhost', user = 'root', password = '', database = 'supermarket')

In [25]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.4.0-cp313-cp313-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.4 MB 4.6 MB/s eta 0:00:04
   -- ------------------------------------- 1.0/16.4 MB 2.2 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/16.4 MB 2.0 MB/s eta 0:00:08
   --- ------------------------------------ 1.6/16.4 MB 1.8 MB/s eta 0:00:09
   --- ------------------------------------ 1.6/16.4 MB 1.8 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/16.4 MB 1.4 MB/s eta 0:00:11
   ---- ----------------------------------- 1.8/16.4 MB 1.4 MB/s eta 0:00:11
   ----- ---------------------------------- 2.1/16.4 MB 1.2 MB/s eta 0:00:13
   ----- ---------------------------------- 2.4/16.4 MB 1.2 MB/s eta 0:00:13
   ----- ---------------------------------- 2.4/16.4 MB 1.2 MB/s eta 0:00:13
   ----- ---------------------------------- 2.4/16.4 MB 1.2 MB/s eta 0:00:13
   ----- ---------------------------------- 2.4/16.4 MB 1.2 MB/s eta 0:00:13
   ----- ---------------------------------- 2.4/16.4 MB 1.2 MB/s eta 0:00:13
   ----- ---------------------------------- 2.4/16.4 MB 1.2 MB/s eta 0:00:13
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.6/16.4 MB 783.5 kB/s eta 0:00:18
   ------- -------------------------------- 2.9/16.4 MB 535.7 kB/s eta 0:00:26
   ------- -------------------------------- 2.9/16.4 MB 535.7 kB/s eta 0:00:26
   ------- -------------------------------- 2.9/16.4 MB 535.7 kB/s eta 0:00:26
   ------- -------------------------------- 2.9/16.4 MB 535.7 kB/s eta 0:00:26
   ------- -------------------------------- 2.9/16.4 MB 535.7 kB/s eta 0:00:26
   ------- -------------------------------- 2.9/16.4 MB 535.7 kB/s eta 0:00:26
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   ------- -------------------------------- 3.1/16.4 MB 470.5 kB/s eta 0:00:29
   -------- ------------------------------- 3.4/16.4 MB 389.9 kB/s eta 0:00:34
   -------- ------------------------------- 3.7/16.4 MB 417.2 kB/s eta 0:00:31
   -------- ------------------------------- 3.7/16.4 MB 417.2 kB/s eta 0:00:31
   -------- ------------------------------- 3.7/16.4 MB 417.2 kB/s eta 0:00:31
   --------- ------------------------------ 3.9/16.4 MB 419.4 kB/s eta 0:00:30
   --------- ------------------------------ 3.9/16.4 MB 419.4 kB/s eta 0:00:30
   ---------- ----------------------------- 4.5/16.4 MB 453.6 kB/s eta 0:00:27
   ---------- ----------------------------- 4.5/16.4 MB 453.6 kB/s eta 0:00:27
   ----------- ---------------------------- 4.7/16.4 MB 463.7 kB/s eta 0:00:26
   ----------- ---------------------------- 4.7/16.4 MB 463.7 kB/s eta 0:00:26
   ------------ --------------------------- 5.0/16.4 MB 470.7 kB/s eta 0:00:25
   ------------ --------------------------- 5.2/16.4 MB 483.5 kB/s eta 0:00:24
   ------------ --------------------------- 5.2/16.4 MB 483.5 kB/s eta 0:00:24
   ------------ --------------------------- 5.2/16.4 MB 483.5 kB/s eta 0:00:24
   ------------- -------------------------- 5.5/16.4 MB 476.3 kB/s eta 0:00:23
   ------------- -------------------------- 5.5/16.4 MB 476.3 kB/s eta 0:00:23
   -------------- ------------------------- 5.8/16.4 MB 485.3 kB/s eta 0:00:22
   -------------- ------------------------- 5.8/16.4 MB 485.3 kB/s eta 0:00:22
   -------------- ------------------------- 5.8/16.4 MB 485.3 kB/s eta 0:00:22
   -------------- ------------------------- 6.0/16.4 MB 478.1 kB/s eta 0:00:22
   --------------- ------------------------ 6.3/16.4 MB 494.5 kB/s eta 0:00:21
   ---------------- ----------------------- 6.8/16.4 MB 529.8 kB/s eta 0:00:19
   ---------------- ----------------------- 6.8/16.4 MB 529.8 kB/s eta 0:00:19
   ---------------- ----------------------- 6.8/16.4 MB 529.8 kB/s eta 0:00:19
   ----------------- ---------------------- 7.1/16.4 MB 527.4 kB/s eta 0:00:18
   ----------------- ---------------------- 7.1/16.4 MB 527.4 kB/s eta 0:00:18
   ------------------ --------------------- 7.6/16.4 MB 543.3 kB/s eta 0:00:17
   ------------------- -------------------- 8.1/16.4 MB 575.6 kB/s eta 0:00:15
   --------------------- ------------------ 8.7/16.4 MB 603.4 kB/s eta 0:00:13
   ---------------------- ----------------- 9.2/16.4 MB 635.9 kB/s eta 0:00:12
   ----------------------- ---------------- 9.4/16.4 MB 641.4 kB/s eta 0:00:11
   ----------------------- ---------------- 9.4/16.4 MB 641.4 kB/s eta 0:00:11
   ------------------------ --------------- 10.2/16.4 MB 677.0 kB/s eta 0:00:10
   --------------------------- ------------ 11.3/16.4 MB 736.2 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.4 MB 777.8 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.4 MB 835.2 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.4 MB 876.6 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.4 MB 931.9 kB/s eta 0:00:02
   ------------------------------------- -- 15.2/16.4 MB 936.6 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.4 MB 958.4 kB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 967.1 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 970.4 kB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 962.1 kB/s  0:00:16
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

In [26]:
import mysql.connector

In [44]:

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",       # XAMPP MySQL server
    user="root",            # Default user
    password="",            # Empty password in XAMPP by default
    database="supermarket"  # Your database name
)

# Load table into pandas DataFrame
invoices = pd.read_sql("SELECT * FROM invoices", conn)

# Close connection
# conn.close()

C:\Users\Mohd Uzaif\AppData\Local\Temp\ipykernel_7688\434038911.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  invoices = pd.read_sql("SELECT * FROM invoices", conn)

In [45]:
orders = pd.read_sql("SELECT * FROM orderleads", conn)

C:\Users\Mohd Uzaif\AppData\Local\Temp\ipykernel_7688\1105109477.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql("SELECT * FROM orderleads", conn)

In [46]:
salesteam = pd.read_sql("SELECT * FROM salesteam", conn)

C:\Users\Mohd Uzaif\AppData\Local\Temp\ipykernel_7688\2412024936.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesteam = pd.read_sql("SELECT * FROM salesteam", conn)

In [52]:
# Close connection
conn.close()

In [47]:
orders.head()

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,18-02-2017,4875,1
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,30-07-2015,8425,0
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,27-05-2016,4837,0
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,27-09-2018,343,0
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,14-01-2016,983,0

In [48]:
invoices.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal
0,839FKFW2LLX4LMBB,27-05-2016,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469,Breakfast
1,97OX39BGVMHODLJM,27-09-2018,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22,Dinner
2,041ORQM5OIHTIU6L,24-08-2014,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314,Lunch
3,YT796QI18WNGZ7ZJ,2014-12-04 00:00:00,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438,Dinner
4,6YLROQT27B6HRF4E,28-07-2015,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690,Lunch

In [49]:
salesteam.head()

,Sales Rep,Sales Rep Id,Company Name,Company Id
0,Jessie Mcallister,97UNNAT790E0WM4N,Chimera-Chasing Casbah,LJKS5NK6788CYMUU
1,Jessie Mcallister,97UNNAT790E0WM4N,Tangential Sheds,36MFTZOYMTAJP1RK
2,Jessie Mcallister,97UNNAT790E0WM4N,Two-Mile Grab,H3JRC7XX7WJAD4ZO
3,Jessie Mcallister,97UNNAT790E0WM4N,Three-Men-And-A-Helper Congo'S,HB25MDZR0MGCQUGX
4,Jessie Mcallister,97UNNAT790E0WM4N,Biophysical Battleground,7RVA8TIVBLBXMNO4

#### Write all these dataframe into excel file on different sheet of that excel file.

In [51]:
with pd.ExcelWriter('./Export_Datasets/supermarket.xlsx') as writer: 
    invoices.to_excel(writer, sheet_name ='Invoices')
    orders.to_excel(writer, sheet_name = 'Orders')
    salesteam.to_excel(writer, sheet_name = 'Sales Team')

### Problem-2

Go to the site: https://rapidapi.com/wirefreethought/api/geodb-cities. From here, you have to grab the API and have to choose proper routes to get the cities of different countries. After getting the right API, hit that API and create a dataframe of all the cities that you can get by using the API. Then store the dataframe to a SQL. If you need to create an account or have to subscribe, then do that (it has free subscription but has some limitations. Use that free subscription and modify your accordingly to get all the data).

In [59]:
import json

In [66]:
import http.client

conn = http.client.HTTPSConnection("wft-geo-db.p.rapidapi.com")

headers = {
    'x-rapidapi-key': "d6dbc020c7msh3d9d85fb52cfddcp1c6e92jsn8d18fbda6433",
    'x-rapidapi-host': "wft-geo-db.p.rapidapi.com"
}

conn.request("GET", "/v1/geo/cities", headers=headers)

res = conn.getresponse()
data = res.read()

In [67]:
data = json.loads(data.decode("utf-8"))

In [79]:
cities = pd.DataFrame(data['data'])

#### Export data to sql

In [81]:
import pymysql
from sqlalchemy import create_engine

In [83]:
# Syntax for this argument in create_engine("mysql+pymysql://root:{password}@{url}/{database_name}")
engine = create_engine("mysql+pymysql://root:@localhost/cities")
cities.to_sql('cities_data', con=engine, if_exists='append', index=False)

5

### Problem 3:

Go to this url: https://www.flipkart.com/search?q=smartphones. This is the url to find phones in flipkart website. You have to extract the below things:
1. image url of the phone
2. name of the image
3. average ratings
4. total ratings
5. total reviews
6. discounted price
7. actual price

Extract all the phones which are available in this website. So you have to use the pagination concept. **Also after requesting every page through the url, please wait for a while (minimum 2-3 seconds), otherwise your IP address can be banned to access the flipkart website later.**

After collecting all the data, save that in a JSON file.

In [215]:
from bs4 import BeautifulSoup
import time
import random

In [194]:
url = 'https://www.flipkart.com/search?q=smartphones&page=1'
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/115.0.0.0 Safari/537.36"
}
response_webpage = requests.get(url, headers = headers)

In [113]:
soup = BeautifulSoup(response_webpage.text, 'html.parser')

In [114]:
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [115]:
all_phones = soup.find_all('div', class_ = 'tUxRFH')

In [128]:
# find the name of the phone.
all_phones[0].find_all('div', class_ = 'col-7-12')[0].find('div', class_ = 'KzDlHZ').text

'Samsung Galaxy F05 (Twilight Blue, 64 GB)'

In [134]:
# find the imaage url. 
all_phones[0].find('img', class_ = 'DByuf4')['src']

'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/e/r/f/-original-imah56hkgehywn5b.jpeg?q=70'

In [137]:
# find the rating of the phone. 
all_phones[0].find('div', class_ = 'XQDdHH').text

'4.2'

In [176]:
# find all the total ratings and reviews
rating_review_tag = all_phones[0].find_all('span', class_ = 'Wphh3N')[0]
print(rating_review_tag.find_all('span')[1].text.strip())
print(rating_review_tag.find_all('span')[3].text.strip())

62,997 Ratings
3,581 Reviews

In [192]:
# find the price with discount of the phone. 
all_phones[0].find('div', class_ = 'Nx9bqj').text

'₹6,249'

In [193]:
# find the price without discount of the phone. 
all_phones[0].find('div', class_ = 'yRaY8j').text

'₹9,999'

In [221]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/115.0.0.0 Safari/537.36"
}

phone_name = []
image_url = [] 
ratings = []
total_ratings = [] 
total_reviews = []
prices_with_discount = []
prices_without_discount = []

for i in range(1, 11): 
    url = 'https://www.flipkart.com/search?q=smartphones&page={}'.format(i)
    response_webpage = requests.get(url, headers = headers)

    soup = BeautifulSoup(response_webpage.text, 'html.parser')

    # Scaping code start from here. 
    all_phones = soup.find_all('div', class_ = 'tUxRFH')
    for phone in all_phones: 
        # find the name of the phone.
        phone_name.append(phone.find_all('div', class_ = 'col-7-12')[0].find('div', class_ = 'KzDlHZ').text)
        
        # find the image url. 
        image_url.append(phone.find('img', class_ = 'DByuf4')['src'])
        
        # find the rating of the phone. 
        ratings.append(phone.find('div', class_ = 'XQDdHH').text)

        # find all the total ratings and reviews
        rating_review_tag = phone.find_all('span', class_ = 'Wphh3N')[0]
        total_ratings.append(rating_review_tag.find_all('span')[1].text.strip())
        total_reviews.append(rating_review_tag.find_all('span')[3].text.strip())

        # find the price with discount of the phone. 
        prices_with_discount.append(phone.find('div', class_ = 'Nx9bqj').text)

        # find the price without discount of the phone. 
        prices_without_discount.append(phone.find('div', class_ = 'yRaY8j').text)

    # here we sleep for 3 seconds
    delay = random.uniform(2, 5)
    print(f"Waiting {delay:.2f} seconds before next request...")
    time.sleep(delay)

final_data = {
    'Name' : phone_name,
    'Image URL' : image_url,  
    'Ratings' : ratings,
    'Total Ratings' : total_ratings, 
    'Total Reviews' : total_reviews,  
    'Price(with discount)' : prices_with_discount, 
    'Price (without discount)' : prices_without_discount
}

Waiting 4.84 seconds before next request...
Waiting 4.11 seconds before next request...
Waiting 3.44 seconds before next request...
Waiting 2.80 seconds before next request...
Waiting 2.49 seconds before next request...
Waiting 4.03 seconds before next request...
Waiting 4.04 seconds before next request...
Waiting 3.92 seconds before next request...
Waiting 2.77 seconds before next request...
Waiting 4.22 seconds before next request...

In [222]:
phone_df = pd.DataFrame(final_data)

In [224]:
phone_df.shape

(240, 7)

In [226]:
phone_df.head(10)

,Name,Image URL,Ratings,Total Ratings,Total Reviews,Price(with discount),Price (without discount)
0,"Samsung Galaxy F05 (Twilight Blue, 64 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.2,"62,997 Ratings","3,581 Reviews","₹6,249","₹9,999"
1,"MOTOROLA g05 (Forest Green, 64 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.2,"46,394 Ratings","3,258 Reviews","₹6,999","₹9,999"
2,"REDMI A3X (Midnight Black, 64 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.1,"10,170 Ratings",446 Reviews,"₹5,999","₹9,999"
3,"POCO C71 (Desert Gold, 128 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.1,"10,714 Ratings",577 Reviews,"₹6,999","₹9,999"
4,"vivo T4R 5G (Twilight Blue, 128 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.6,"2,435 Ratings",133 Reviews,"₹19,499","₹23,499"
5,"MOTOROLA g05 (Plum Red, 64 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.2,"46,394 Ratings","3,258 Reviews","₹6,999","₹9,999"
6,vivo T4 Lite 5G Charger in the Box (Prism Blue...,https://rukminim2.flixcart.com/image/312/312/x...,4.4,"10,174 Ratings",322 Reviews,"₹10,999","₹14,999"
7,"Motorola g45 5G (Pantone Dahlia Purple, 128 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.3,"1,99,872 Ratings","10,300 Reviews","₹11,999","₹14,999"
8,"MOTOROLA G86 Power 5G (Pantone Golden Cypress,...",https://rukminim2.flixcart.com/image/312/312/x...,4.4,"1,236 Ratings",117 Reviews,"₹17,999","₹19,999"
9,"POCO C75 5G (Aqua Bliss, 64 GB)",https://rukminim2.flixcart.com/image/312/312/x...,4.3,"90,163 Ratings","4,341 Reviews","₹7,699","₹10,999"

#### To export this dataframe into a JSON format.

In [227]:
phone_df.to_json('./Export_Datasets/Mobile_Flipkart.json')